header {
    background-color: #22434b;
    height: 5em;
    color: aliceblue;
    display: flex;
    justify-content: center;

    -webkit-box-shadow: 0px -1px 5px -1px rgba(0, 0, 0, 0.49);
    -moz-box-shadow: 0px -1px 5px -1px rgba(0, 0, 0, 0.49);
    box-shadow: 0px -1px 5px -1px rgba(0, 0, 0, 0.49);
}