footer {
    position:fixed;
    bottom: 0;
    background-color: #427d8c;
    height: 5em;
    width: 100%;
    color: aliceblue;
    display: flex;
    justify-content: center;

    height: 5em;
 
    box-shadow: 0px -1px 2px -1px rgba(0,0,0,0.49);
}